<h1 class="banner">Admin</h1>

<h1><%= user.firstname %>'s Admin page</h1>

<div class="container">
  <div class="left">
    <img src="<%= user.profile %>" alt"user profile pic">
    <p><strong>Name: </strong> <%= user.firstname %> <%= user.lastname %></p>
    <p><strong>Admin: </strong><%= user.admin ? 'Yes' : 'No'%></p>
  </div>
  <div class="right">
    <p>
      <%= user.firstname %> was born on <%= moment(user.birthday).format('MMM Do YYYY') %> and uses the display name <%= user.username %>
    </p>
    <hr>
    <%= user.bio %>
  </div>
</div>
