<h1><%= currentUser.firstname %>'s Curations</h1>

<div class="container">
  <div>
    <img src="<%= currentUser.profile %>" alt"user profile pic">
    <p><strong>Name: </strong> <%= currentUser.firstname %> <%= currentUser.lastname %></p>
    <!-- <p><strong>Admin: </strong><%= currentUser.admin ? 'Yes' : 'No'%></p> -->
  </div>
  <div>
    <hr>
    <%= currentUser.bio %>
  </div>
</div>
