<h1><%= user.firstname %>'s Curations</h1>

<div class="container">
  <div>
    <img src="<%= user.profile %>" alt"user profile pic">
    <p><strong>Name: </strong> <%= user.firstname %> <%= user.lastname %></p>
    <!-- <p><strong>Admin: </strong><%= user.admin ? 'Yes' : 'No'%></p> -->
  </div>
  <div>
    <hr>
    <%= user.bio %>
  </div>
</div>
