<!-- Here, artwork defines an artwork that is being drawn from the MET API, not the DB -->
<div class="artwork-container">
  <h1><%= artwork.title %></h1>
  <img src="<%= artwork.primaryImage %>" alt="<%= artwork.title %>">
  <p><%= artwork.artistDisplayName %></p>
  <p><%= artwork.artistDisplayBio %></p>
  <% if (artwork.isOnView) { %>
    <p>Currently On Display</p>
  <% } else {%>
    <p>Not Currently On Display</p>
  <% } %>

  <% if (goodCollections && isUserLoggedIn) {%>
  <form name="existing-collection" action="/search/results" method="post">
    <div class="input-field">
      <select class="collect-select" name="userCollections">
          <% goodCollections.forEach(collection => { %>
            <option value="<%= collection.id %>"><%= collection.name%></option>
          <% })%>
      </select>
    </div>

    <input type="hidden" name="objectID" value="<%= artwork.objectID %>">
    <input type="hidden" name="image" value="<%= artwork.primaryImage %>">
    <input type="hidden" name="title" value="<%= artwork.title %>">
    <input type="hidden" name="artist" value="<%= artwork.artistDisplayName %>">
    <input type="hidden" name="date" value="<%= artwork.objectDate %>">
    <input type="submit" class="col-sub" value="Add To Collection">
  </form>
  <% } %>
</div>

<div class="new-collection">
  <h1>Start A New Collection</h1>
  <form name="new-collection" action="/collection" method="post">
    <input type="text" name="name" placeholder="Collection Name">
    <input type="hidden" name="image" value="<%= artwork.primaryImage %>">
    <input type="hidden" name="objectId" value="<%= artwork.objectID %>">
    <textarea name="description" rows="8" cols="80" placeholder="Describe Your Collection..."></textarea>
    <input type="submit" name="" value="Create Collection">
  </form>
</div>
